



<div class="container mt-5">
  <div class="row justify-content-center">
  <% if flash[:notice] != nil %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <div class="col-md-8">
      <div class="mb-3">
        
        <div class="d-flex justify-content-center m-4">
          <%= paginate @articles %>
        </div>

        <h1>List of Articles</h1>
      </div>
      <% @articles.each do |article| %>
        <div class="card mb-3">
          <div class="card-body">
           <h5 class="card-title">By : <%= article.user.name %></h5>
            <h5 class="card-title"><%= article.Title %></h5>
            <p class="card-text"><%= article.Description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">

                <%= link_to "View", article_path(article), class: "btn btn-sm btn-outline-primary" %>

                <% if logged_in? && article.user == current_user %>

                  <%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-outline-secondary" %>
                  <%= button_to "Delete", article_path(article) , method: :delete ,class: "btn btn-sm btn-outline-danger"  %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
