<div class="container mt-5">
   
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">By : <%= @a.user.name %></h5>
        <h5 class="card-title"><%= @a.Title %></h5>
        <p class="card-text"><%= @a.Description %></p>
        <!-- Add more fields here as needed -->
        <div class="btn-group">

         <% if logged_in? && @a.user_id == current_user.id %>
          <%= button_to "Edit", edit_article_path(@a), method: :get , class: "btn btn-sm btn-outline-secondary m-1" %>
          <%= button_to "Delete", article_path(@a) , method: :delete ,class: "btn btn-sm btn-outline-danger"  %>
          <% end %>
        </div>
      </div>
    </div>
 
</div>
